{% extends 'base.html' %}
{% load static %}

<!-- Code block for displaying current site's sub-page -->
{% block extra_title %}| Add Testimonial{% endblock %}

<!-- Code block for displaying  Add a testimonial page -->
{% block content %}
<div class="container main-container">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font">Testimonial detail</h2>
            <hr class="w-75 mb-3">
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <h2>Add a Review</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">Name</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="{{ form.review.id_for_label }}">Review</label>
                    {{ form.review }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}