{% extends 'base.html' %}
{% load static %}

<!-- Code block for displaying current site's sub-page -->
{% block extra_title %}| Testimonials{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Code block for displaying Testimonials page -->
{% block content %}
<div class="container main-container">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font">Testimonials</h2>
        </div>
    </div>
</div>

<div class="container bookings">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 p-4">

            {% if reviews %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Review</th>
                            <th>Created On</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for review in reviews %}
                        <tr>
                            <td>{{ review.name }}</td>
                            <td>{{ review.email }}</td>
                            <td>{{ review.review }}</td>
                            <td>({{ booreviewking.created_on }})</td>
                            <td>
                                <a href="#">Edit</a> |
                                <a class="a-delete" href="#">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>You haven't made any review yet.</p>
            {% endif %}
        </div>
    </div>
</div>





<div class="container bookings">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 p-4">

            {% if reviews %}
            <div class="card-deck">
                {% for review in reviews %}
                {% if review.public %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ review.email }}</h6>
                        <p class="card-text">{{ review.review }}</p>
                        <p class="card-text"><small class="text-muted">Created On: {{ review.created_on }}</small></p>

                        <a href="{% url 'testimonials:edit_review' pk=review.pk %}" class="card-link">Edit</a>
                        <a href="#" class="card-link text-danger">Delete</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <p class="text-center">You haven't made any reviews yet.</p>
            {% endif %}

            <div class="text-center">
                <a href="{% url 'testimonials:add_review' %}" class="btn btn-primary">Add Testimonial</a>
            </div>
        </div>
    </div>
</div>


{%endblock%}

<!-- Back to top button -->
{% block postloadjs %}
{{ block.super }}

<script>
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0);
    })
</script>
{%endblock%}