{% extends 'base.html' %}
{% load static %}

<!-- Code block for displaying current site's sub-page -->
{% block extra_title %}| Testimonials{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Code block for displaying Testimonials page -->
{% block content %}
<div class="container main-container">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font">Testimonials</h2>
        </div>
    </div>
</div>

{%endblock%}

<!-- Back to top button -->
{% block postloadjs %}
{{ block.super }}

<script>
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0);
    })
</script>
{%endblock%}