html {
    height: 100%;
}

/* 
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
} */

body {
    height: calc(100vh - 164px);
    overflow-y: scroll;
}

.header-container {
    background-image: url('{% static "img/lavender_fields.jpeg" %}');
    background-size: cover;
    background-position: center;
    height: 400px;
}

.motivational-text {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.shop-now-button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

footer {
    width: 100%;
    bottom: 0px;
    position: inherit;
}



/* fixed top navbar only on medium and up */
@media (min-width: 552px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (min-width: 1220px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 184px;
    }
}

@media (min-width: 1420px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 200px;
    }
} */