{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Contacts{% endblock %}

{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="container-fluid contacts">
            <div class="row justify-content-center text-center">
                <div class="col-sm-5 col-md-5 p-3">
                    <h2 class="pb-2">Contact Details: </h2>
                    <p><strong>Name: </strong>{{ contacts.name }}</p>
                    <p><strong>Email: </strong>{{ contacts.email }}</p>
                    <p><strong>Phone number: </strong>{{ contacts.phone_number }}</p>
                    <p><strong>Address: </strong>{{ contacts.address }}</p>
                </div>

                <div class="col-sm-5 col-md-5 p-3">
                    <h2 class="pb-2">Opening Hours: </h2>
                    {% for h in open_hours %}
                    <p><strong>{{ h.days }}</strong></p>
                    <p><strong>{{ h.hours }}</strong></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">

        <!-- Contact form -->
        <div class="col text-center p-4 mt-5" id="contact-form">
            <p class="artist-title border-bottom border-2">Get in Touch</p>
            <form method="POST" action="{% url 'contacts' %}">
                {% csrf_token %}
                <p>
                    Got an idea for a piece you would like to commission?
                    <br>
                    Want a stall set up at your event?
                    <br>
                    Need some help with an order?
                    <br>
                    Whatever it is I would love to hear from you.
                </p>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" aria-describedby="name"
                        placeholder="Enter your name...">
                </div>

                <div class="form-group mt-3">
                    <input type="email" class="form-control" name="email" aria-describedby="email"
                        placeholder="Enter your email...">
                </div>

                <small class="form-text text-muted">
                    We'll never share your email with anyone else.
                </small>

                <div class="form-group mt-3">
                    <input type="text" class="form-control" name="message_subject" aria-describedby="message_subject"
                        placeholder="Enter the subject of message...">
                </div>

                <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Enter your message...">
                                </textarea>
                </div>

                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                <button type="submit" class="btn metal linear mt-3">Send</button>
            </form>
        </div>

    </div>
</div>

</div>
</div>

{% endblock %}