{% extends "base.html" %}

{% load static %}

{% block extra_title %}- Blog detailed{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% if messages %}
<div id="msg">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}





{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h1>{% trans "Change Password" %}</h1>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action">{% trans "Change Password" %}</button>
</form>
{% endblock %}