{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Welcome to Lavender Haven. Indulge in the soothing aroma and breathtaking beauty of lavender at Lavender Haven. Explore our extensive collection of premium lavender products, from essential oils and bath salts to luxurious skincare. Experience tranquility and relaxation like never before.">
    <meta name="keywords"
        content="website, webshop, lavender, hvar, croatia, tour, fields, tradition, community, lavender products, essential oils, bath salts, skincare, relaxation, tranquility, aromatherapy, natural products, lavender farm">
    <meta name="author" content="Antonio-Claudio Andelic">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amethysta&display=swap" rel="stylesheet">
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- base css file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_package_v0.16/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_package_v0.16/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_package_v0.16/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_package_v0.16/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon_package_v0.16/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Font Awesome kit -->
    <script src="https://kit.fontawesome.com/58d92d93b9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Lavender Haven {% block extra_title %}{% endblock %}</title>
</head>

<body>

    <header class="container-fluid fixed-top">

        <nav class="navbar navbar-expand-lg custom-navbar">

            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'home' %}">Lavender Haven</a>

            <!-- Toggled-burger menu with Font Awesome icon -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible menu -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <!-- Home dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Home
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'about' %}">About</a>
                            <a class="dropdown-item" href="{% url 'blog' %}">Blog</a>
                            <a class="dropdown-item" href="{% url 'contacts' %}">Contacts</a>
                        </div>
                    </li>

                    <!-- Store dropdown -->
                    <!-- <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Store
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">All products</a>
                            <a class="dropdown-item" href="#">New!</a>
                            <a class="dropdown-item" href="#">Special Offers</a>
                            <a class="dropdown-item" href="#">Clearance</a>
                        </div>
                    </li> -->

                    <!-- Store link -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'items' %}">Store</a>
                    </li>

                    <!-- Feedback link -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'testimonials' %}">Feedback</a>
                    </li>

                </ul>

                <!-- Search form -->
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </div>
                </form>

                <!-- Account button -->
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            {% if request.user.is_authenticated %}
                            <!-- Display username for respective logged in user -->
                            <p class="my-0">Hi, {{ request.user.username }}</p>
                            {% else %}
                            <p class="my-0">My Account</p>
                            {% endif %}
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="#" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="{% url 'home' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        <!-- Display username -->
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>

                <!-- Shopping cart -->
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                        href="#">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                            <p class="my-0">
                                {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                                {% else %}
                                $0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>

            </div>
        </nav>

    </header>

    <!-- {% if messages %}
    <div class="message-container">
    </div>
    {% endif %} -->

    {% if messages %}
    <div id="msg">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    <!-- Footer -->
    <footer class="container-fluid text-center text-lg-start text-dark custom-footer">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Section: Links  -->
                    <section class="">
                        <div class="container-fluid text-center text-md-start mt-5 border-bottom footer-links">
                            <!-- Grid row -->
                            <div class="row mt-3">
                                <!-- Grid column -->
                                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                    <!-- Content -->
                                    <h6 class="text-uppercase fw-bold mb-4">
                                        <i class="fas fa-gem me-3"></i>Company name
                                    </h6>
                                    <p>
                                        Here you can use rows and columns to organize your footer content. Lorem
                                        ipsum
                                        dolor sit amet, consectetur adipisicing elit.
                                    </p>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold mb-4">
                                        Products
                                    </h6>
                                    <p>
                                        <a href="#!" class="text-black">Angular</a>
                                    </p>
                                    <p>
                                        <a href="#!" class="text-black">React</a>
                                    </p>
                                    <p>
                                        <a href="#!" class="text-black">Vue</a>
                                    </p>
                                    <p>
                                        <a href="#!" class="text-black">Laravel</a>
                                    </p>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold mb-4">
                                        Useful links
                                    </h6>
                                    <p>
                                        <a href="#!" class="text-black">Privacy policy</a>
                                    </p>
                                    <p>
                                        <a href="#!" class="text-black">Terms & Conditions</a>
                                    </p>
                                    <p>
                                        <a href="#!" class="text-black">Orders</a>
                                    </p>
                                    <p>
                                        <a href="#!" class="text-black">Help</a>
                                    </p>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                    <!-- Links -->

                                    <div id="map-wrapper">
                                        <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2909.0810068834207!2d16.498169976594824!3d43.18681108246998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133581fdaecfa32d%3A0x1c5a781033777030!2sHvar%20Lavender%20Fields!5e0!3m2!1sen!2sse!4v1687605075185!5m2!1sen!2sse"
                                            allowfullscreen="" loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>

                                    <!-- <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                                    <p><i class="fas fa-home me-3"></i> Hvar Island, Brusje, Croatia</p>
                                    <p>
                                        <i class="fas fa-envelope me-3"></i>
                                        lavender.haven@example.com
                                    </p>
                                    <p><i class="fas fa-phone me-3"></i> + 385 21 892 096</p> -->

                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->
                        </div>
                    </section>
                    <!-- Section: Links  -->


                    <!-- Section: Maps and Newsletter -->
                    <section>
                        <div class="container-fluid text-center text-md-start mt-5 border-bottom map">
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4">
                                    <!-- Map Column -->

                                    <!-- <div id="map-wrapper">
                                        <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.5110645199804!2d18.067983777056337!3d59.32442101141368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f77e2f59fd599%3A0xd65a76a8a13271cb!2sSkomakargatan%2030%2C%20111%2029%20Stockholm!5e0!3m2!1sen!2sse!4v1681831361960!5m2!1sen!2sse"
                                            allowfullscreen="" loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div> -->

                                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                                    <p><i class="fas fa-home me-3"></i> Hvar Island, Brusje, Croatia</p>
                                    <p>
                                        <i class="fas fa-envelope me-3"></i>
                                        lavender.haven@example.com
                                    </p>
                                    <p><i class="fas fa-phone me-3"></i> + 385 21 892 096</p>

                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4">
                                    <!-- Newsletter Signup Column -->
                                    <form method="POST" action="#" class="footer-borders">
                                        {% csrf_token %}
                                        <div class="form-group mb-2 text-center mt-3">
                                            <h5>Keep up to date with upcoming events and special offers<br> Sign up
                                                to
                                                our Newsletter
                                                here...</h5>
                                        </div>
                                        <div class="form-group container mt-4 mb-4 text-center">
                                            <label for="email" class="sr-only">Email</label>
                                            <input type="email" class="form-control w-75 mt-2" name="email" id="email"
                                                placeholder="Enter your Email...">
                                            <br>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            <button type="submit" class="btn mt-4 mb-4 metal linear newsletter">Sign
                                                Up</button>
                                            <a class="unsubscribe text-decoration-underline text-uppercase"
                                                href="#">Unsubscribe</a>
                                        </div>
                                    </form>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->
                        </div>
                    </section>
                    <!-- Section: Maps and Newsletter -->


                    <!-- Section: Social media & Copyright -->
                    <section class="d-inline justify-content-center p-4 social-media">
                        <div class="row">

                            <div class="col-lg-12 text-center">
                                <a href="https://www.facebook.com" target="_blank" rel="noopener"
                                    aria-label="Find us on Facebook (link opens in a new tab)" class="m-2 text-black"><i
                                        class="fab fa-facebook-f"></i></a>

                                <a href="https://www.twitter.com" target="_blank" rel="noopener"
                                    aria-label="Find us on Twitter (link opens in a new tab)" class="m-2 text-black"><i
                                        class="fab fa-twitter"></i></a>

                                <a href="https://www.google.com" target="_blank" rel="noopener"
                                    aria-label="Find us on Google (link opens in a new tab)" class="m-2 text-black"><i 
                                        class="fab fa-google"></i></a>

                                <a href="https://www.instagram.com" target="_blank" rel="noopener"
                                    aria-label="Find us on Instagram (link opens in a new tab)" class="m-2 text-black"><i
                                        class="fab fa-instagram"></i></a>

                                <a href="https://www.linkedin.com" target="_blank" rel="noopener"
                                    aria-label="Find us on Linkedin (link opens in a new tab)" class="m-2 text-black"><i
                                        class="fab fa-linkedin"></i></a>


                                <a href="https://www.github.com" target="_blank" rel="noopener"
                                    aria-label="Find us on Github (link opens in a new tab)" class="m-2 text-black"><i
                                        class="fab fa-github"></i></a>

                                <a href="https://www.youtube.com" target="_blank" rel="noopener"
                                    aria-label="Find us on YouTube (link opens in a new tab)" class="m-2 text-black"><i
                                        class="fab fa-youtube"></i></a>
                            </div>
                        </div>

                        <div class="text-center p-4 copy-rights">
                            © 2023 Copyright:
                            <a class="text-reset fw-bold"
                                href="https://8000-balkaneros91-lavender-ha-ei6kqynzxz.us2.codeanyapp.com/">LavenderHaven.com</a>
                        </div>

                        <p class="text-center text-black">Made by Antonio-Claudio Andelic for PP5</p>
                        
                    </section>
                    <!-- Section: Social media -->

                </div>
            </div>
        </div>
    </footer>


    <!-- JS -->
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>